/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin nb-actions-theme() {
  nb-actions {
    background-color: nb-theme(actions-background-color);
    color: nb-theme(actions-text-color);
    font-family: nb-theme(actions-text-font-family);
    font-weight: nb-theme(actions-text-font-weight);
    line-height: nb-theme(actions-text-line-height);
  }

  @each $size in nb-get-sizes() {
    nb-actions.size-#{$size} nb-action {
      font-size: nb-theme(actions-#{$size}-text-font-size);
      height: nb-theme(actions-#{$size}-height);
      padding: nb-theme(actions-#{$size}-padding);

      nb-icon {
        font-size: nb-theme(actions-#{$size}-icon-height);
      }
    }
  }

  nb-action {
    $divider: nb-theme(actions-divider-width) nb-theme(actions-divider-style) nb-theme(actions-divider-color);
    @include nb-ltr(border-left, $divider);
    @include nb-rtl(border-right, $divider);

    &:first-child {
      @include nb-ltr(border-left, none!important);
      @include nb-rtl(border-right, none!important);
    }

    nb-icon {
      color: nb-theme(actions-icon-color);
    }

    &.disabled {
      color: nb-theme(actions-disabled-text-color);

      nb-icon {
        color: nb-theme(actions-disabled-icon-color);
      }
    }
  }
}
