<nb-card style="overflow:hidden;">
  <nb-card-header class="header" style="text-align: center;">Lead Details</nb-card-header>
  <nb-card-body class="lead-body">
    <form [formGroup]="editLeadForm" ngSubmit="onFormSubmit()">
      <div class="row">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <label for="name"><b>Name</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="name" [(ngModel)]="test.name" />
          <div
            *ngIf="editLeadForm.controls['name'].invalid && (editLeadForm.controls['name'].dirty || editLeadForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="editLeadForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="mobile"><b>Mobile</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="mobile" [(ngModel)]="test.mobile" />
          <div
            *ngIf="editLeadForm.controls['mobile'].invalid && (editLeadForm.controls['mobile'].dirty || editLeadForm.controls['mobile'].touched)"
            class="alert alert-danger">
            <div *ngIf="editLeadForm.controls['mobile'].errors.required">
              Mobile number is required.
            </div>
            <div class="form-text error" *ngIf="editLeadForm.controls['mobile'].errors?.pattern">
              Mobile number be the real one!
            </div>
          </div>
        </div>

        <div class="form-group col-sm-2"></div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <label for="enquiry"><b>Enquiry</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="enquiry" [(ngModel)]="test.enquiry" />
          <div
            *ngIf="editLeadForm.controls['enquiry'].invalid && (editLeadForm.controls['enquiry'].dirty || editLeadForm.controls['enquiry'].touched)"
            class="alert alert-danger">
            <div *ngIf="editLeadForm.controls['enquiry'].errors.required">
              Enquiry is required.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="expectedPurchaseDate"><b>Expected Purchase Date </b></label><br/>
           <input nbInput placeholder="Pick Date" [nbDatepicker]="expectedPurchaseDate" formControlName="expectedPurchaseDate" >
              <nb-datepicker #expectedPurchaseDate ></nb-datepicker>
              <!-- <input type="date" class="form-control" formControlName="expectedPurchaseDate" [(ngModel)]="test.expectedPurchaseDate" /> -->
              <div *ngIf="editLeadForm.controls['expectedPurchaseDate'].invalid && (editLeadForm.controls['expectedPurchaseDate'].dirty || editLeadForm.controls['expectedPurchaseDate'].touched)"
                class="alert alert-danger">
                <div *ngIf="editLeadForm.controls['expectedPurchaseDate'].errors.required">
                  Expected Purchase Date is required.
                </div>
              </div>
        </div>
        <div class="form-group col-sm-2"></div>
      </div>
      <div class="row" style="margin-top: 5%;">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <!-- <button nbButton hero status="success" (click)="reset()" style="margin-left: 80%;">RESET</button> -->
        </div>
        <div class="form-group col-sm-4">
          <button nbButton hero status="primary" (click)="update(editLeadForm.value)">Update</button>
        </div>
        <div class="form-group col-sm-2"></div>
      </div>
    </form>
  </nb-card-body>
</nb-card>