/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin input-sizes() {
  @each $size in nb-get-sizes() {
    &.size-#{$size} {
      font-size: nb-theme(input-#{$size}-text-font-size);
      font-weight: nb-theme(input-#{$size}-text-font-weight);
      line-height: nb-theme(input-#{$size}-text-line-height);
      padding: nb-theme(input-#{$size}-padding);

      &:not(.input-full-width) {
        max-width: nb-theme(input-#{$size}-max-width);
      }

      &::placeholder {
        font-size: nb-theme(input-#{$size}-placeholder-text-font-size);
        font-weight: nb-theme(input-#{$size}-placeholder-text-font-weight);
        // TODO: this seems to be unused
        line-height: nb-theme(input-#{$size}-placeholder-text-line-height);
      }
    }
  }
}
