/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin input-shapes() {
  @each $shape in nb-get-shapes() {
    &.shape-#{$shape} {
      border-radius: nb-theme(input-#{$shape}-border-radius);
    }
  }
}
