<nb-card style="overflow:hidden; width: 500px;">
    <nb-card-header>New Store</nb-card-header>
    <nb-card-body class="lead-body" style="width: 1200px;">
      <form [formGroup]="addcompanyForm" ngSubmit="onFormSubmit()">
        <div class="row">
            <div class="col-sm-4 col-offset-2" class="inputwidth">
                <input type="text" nbInput fullWidth class="form-control" formControlName="name" placeholder="Name">
                <div
            *ngIf="addcompanyForm.controls['name'].invalid && (addcompanyForm.controls['name'].dirty || addcompanyForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="addcompanyForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
            </div>
            
        </div><br>
        <div class="row">
            <div class="col-sm-4 col-offset-2" class="inputwidth">
                <input type="text" nbInput fullWidth class="form-control" formControlName="address" placeholder="Address">
                <div
            *ngIf="addcompanyForm.controls['address'].invalid && (addcompanyForm.controls['address'].dirty || addcompanyForm.controls['address'].touched)"
            class="alert alert-danger">
            <div *ngIf="addcompanyForm.controls['address'].errors.required">
              Address is required.
            </div>
            </div>
            </div>    
        </div><br>
        <div class="row">
            <div class="col-sm-4 col-offset-2" class="inputwidth">
                <input type="text" nbInput fullWidth class="form-control" formControlName="city" placeholder="City">
                <div
            *ngIf="addcompanyForm.controls['city'].invalid && (addcompanyForm.controls['city'].dirty || addcompanyForm.controls['city'].touched)"
            class="alert alert-danger">
            <div *ngIf="addcompanyForm.controls['city'].errors.required">
              city is required.
            </div>
          </div>
            </div>
            
        </div><br>
        <div class="row">
            <div class="col-sm-4 col-offset-2" class="inputwidth">
                <input type="text" nbInput fullWidth class="form-control" formControlName="location" placeholder="Location">
                <div
            *ngIf="addcompanyForm.controls['location'].invalid && (addcompanyForm.controls['location'].dirty || addcompanyForm.controls['location'].touched)"
            class="alert alert-danger">
            <div *ngIf="addcompanyForm.controls['location'].errors.required">
              Location is required.
            </div>
          </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-4 col-offset-2" class="inputwidth">
                <input type="text" nbInput fullWidth class="form-control" formControlName="mobile" placeholder="Mobile">                
                <div
            *ngIf="addcompanyForm.controls['mobile'].invalid && (addcompanyForm.controls['mobile'].dirty || addcompanyForm.controls['mobile'].touched)"
            class="alert alert-danger">
            <div *ngIf="addcompanyForm.controls['mobile'].errors.required">
              Mobile number is required.
            </div>
          </div>

            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-4 col-offset-2" style="margin-left: 315px;">
                <button class="btn btn-primary" (click)="addStore(addcompanyForm.value)"><b>Save</b></button>
                <button class="btn" style="margin-left: 10px;" (click)="cancel()"><b>Cancel</b></button>
            </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
