/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../styles/core/mixins';

:host ::ng-deep {
  display: block;

  .menu-items,
  .menu-item > .menu-items {
    list-style-type: none;
    overflow: hidden;
  }

  .menu-item a {
    display: flex;
    color: inherit;
    text-decoration: none;
    align-items: center;

    .menu-title {
      flex: 1 0 auto;
      @include nb-rtl(text-align, right);
    }
  }

  .menu-group span {
    display: flex;
  }
}
