@mixin select-hero {
  nb-select.appearance-hero .select-button {
    background-color: nb-theme(select-hero-background-color);
    border-color: nb-theme(select-hero-border-color);
    border-style: nb-theme(select-hero-border-style);
    border-width: nb-theme(select-hero-border-width);
    color: nb-theme(select-hero-text-color);

    &.placeholder {
      color: nb-theme(select-hero-placeholder-text-color);
    }

    &:focus {
      border-color: nb-theme(select-hero-focus-border-color);
    }
    &:hover {
      border-color: nb-theme(select-hero-hover-border-color);
    }
    &[disabled] {
      color: nb-theme(select-hero-disabled-text-color);
      background-color: nb-theme(select-hero-disabled-background-color);
      background-image: none;

      nb-icon {
        color: nb-theme(select-hero-disabled-icon-color);
      }
    }

    nb-icon {
      color: nb-theme(select-hero-icon-color);
    }
  }

  .options-list-container.appearance-hero {
    border-color: nb-theme(select-options-list-hero-border-color);
  }

  @each $size in nb-get-sizes() {
    nb-select.appearance-hero.size-#{$size} .select-button {
      padding: nb-theme(select-hero-#{$size}-padding);
    }
    .appearance-hero.size-#{$size} {
      nb-option-group .option-group-title,
      nb-option {
        padding: nb-theme(select-option-hero-#{$size}-padding);
      }
      nb-option-group nb-option {
        padding-left: nb-theme(select-group-option-outline-#{$size}-start-padding);
      }
    }
  }

  @each $status in nb-get-statuses() {
    nb-select.appearance-hero.status-#{$status} .select-button {
      $left-color: nb-theme(select-hero-#{$status}-left-background-color);
      $right-color: nb-theme(select-hero-#{$status}-right-background-color);
      background-image: linear-gradient(to right, $left-color, $right-color);
      color: nb-theme(select-hero-#{$status}-text-color);

      &.placeholder {
        color: nb-theme(select-hero-#{$status}-placeholder-text-color);
      }

      &:focus {
        $left-color: nb-theme(select-hero-#{$status}-focus-left-background-color);
        $right-color: nb-theme(select-hero-#{$status}-focus-right-background-color);
        background-image: linear-gradient(to right, $left-color, $right-color);
      }
      &:hover {
        $left-color: nb-theme(select-hero-#{$status}-hover-left-background-color);
        $right-color: nb-theme(select-hero-#{$status}-hover-right-background-color);
        background-image: linear-gradient(to right, $left-color, $right-color);
      }
      &[disabled] {
        color: nb-theme(select-hero-#{$status}-disabled-text-color);
        background-color: nb-theme(select-hero-#{$status}-disabled-background-color);
        background-image: none;

        nb-icon {
          color: nb-theme(select-hero-#{$status}-disabled-icon-color);
        }
      }

      nb-icon {
        color: nb-theme(select-hero-#{$status}-icon-color);
      }
    }

    .options-list-container.appearance-hero.status-#{$status} {
      border-color: nb-theme(select-options-list-hero-#{$status}-border-color);
    }
  }
}
