/*!
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../styles/core/mixins';

:host {
  display: flex;
  @include nb-component-animation(background-color, color);

  &:hover {
    cursor: pointer;
  }

  nb-checkbox {
    display: flex;
    pointer-events: none;

    ::ng-deep .label {
      padding: 0;
    }
  }
}

:host([disabled]) {
  pointer-events: none;
}

