<nb-card size="medium">
  <nb-card-header>
    <h2>DETAILS</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="row wrapper col-md-12" *ngFor='let v of data'>
      <div class=" col-md-6"> <p><b>Name </b></p>  </div>
        <div class=" col-md-6">   <p>{{ v.name}}</p></div>
        <div class=" col-md-6"> <p><b> Mobile </b></p>  </div>
        <div class=" col-md-6">   <p>{{ v.mobile }}</p> </div>
        <div class=" col-md-6"> <p><b>Enquiry</b></p>   </div>
          <div class=" col-md-6">   <p>{{ v.enquiry }}</p></div>
          <div class=" col-md-6">  <p><b> Expected Purchase Date </b></p>  </div>
          <div class=" col-md-6">   <p>{{ v.expectedPurchaseDate}}</p> </div>
    </div>
  </nb-card-body>
</nb-card>
             

                