/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin form-control-default() {
  .form-control-success {
    @include form-control-success();
  }

  .form-control-info {
    @include form-control-info();
  }

  .form-control-danger {
    @include form-control-danger();
  }

  .form-control-warning {
    @include form-control-warning();
  }
}

@mixin form-control-success() {
  &, &:focus {
    border-color: nb-theme(form-control-success-border-color);
  }
}

@mixin form-control-info() {
  &, &:focus {
    border-color: nb-theme(form-control-info-border-color);
  }
}

@mixin form-control-danger() {
  &, &:focus {
    border-color: nb-theme(form-control-danger-border-color);
  }
}

@mixin form-control-warning() {
  &, &:focus {
    border-color: nb-theme(form-control-warning-border-color);
  }
}
