/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../core/mixins';

@mixin nb-b-modals-theme() {

  .modal-content {
    font-size: nb-theme(modal-font-size);
    line-height: nb-theme(modal-line-height);
    font-weight: nb-theme(modal-font-weight);

    color: nb-theme(modal-fg);
    background: nb-theme(modal-bg);
    border-color: nb-theme(modal-border);
    border-radius: nb-theme(modal-border-radius);
  }

  .modal-header {
    padding: nb-theme(modal-padding);
    border-bottom: 1px solid nb-theme(modal-separator);
    border-top-left-radius: nb-theme(modal-border-radius);
    border-top-right-radius: nb-theme(modal-border-radius);
    color: nb-theme(modal-fg-heading);

    font-family: nb-theme(modal-header-font-family);
    font-weight: nb-theme(modal-header-font-weight);
    font-size: nb-theme(modal-header-font-size);

    @include nb-headings();

    @include nb-rtl(flex-flow, row-reverse);

    .close {
      text-shadow: none;
      color: nb-theme(modal-fg-heading);
      &:hover {
        color: nb-theme(modal-fg-heading);
      }
    }
  }

  .modal-body {
    font-family: nb-theme(modal-body-font-family);
    font-weight: nb-theme(modal-body-font-weight);
    font-size: nb-theme(modal-body-font-size);

    padding: nb-theme(modal-padding);

    @include nb-scrollbars(
        nb-theme(scrollbar-fg),
        nb-theme(scrollbar-bg),
        nb-theme(scrollbar-width));
  }

  .modal-footer {
    padding: nb-theme(modal-padding);
    border-top: 1px solid nb-theme(modal-separator);
    border-bottom-left-radius: nb-theme(modal-border-radius);
    border-bottom-right-radius: nb-theme(modal-border-radius);
  }
}
