/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin btn-shape() {
  .btn.btn-rectangle {
    @include btn-rectangle();
  }

  .btn.btn-semi-round {
    @include btn-semi-round();
  }

  .btn.btn-round {
    @include btn-round();
  }
}

@mixin btn-rectangle() {
  @include border-radius(nb-theme(btn-rectangle-border-radius));
}

@mixin btn-semi-round() {
  @include border-radius(nb-theme(btn-semi-round-border-radius));
}

@mixin btn-round() {
  @include border-radius(nb-theme(btn-round-border-radius));
}
