/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}
