/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */
@font-face {
  font-family: #{$nebular-icons-font-family};
  src:  url('#{$nebular-icons-font-path}/nebular.eot?m2yqa');
  src:  url('#{$nebular-icons-font-path}/nebular.eot?m2yqa#iefix') format('embedded-opentype'),
    url('#{$nebular-icons-font-path}/nebular.ttf?m2yqa') format('truetype'),
    url('#{$nebular-icons-font-path}/nebular.woff?m2yqa') format('woff'),
    url('#{$nebular-icons-font-path}/nebular.svg?m2yqa#nebular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.nb-alert,
.nb-angle-double-left,
.nb-angle-double-right,
.nb-arrow-down,
.nb-arrow-dropdown,
.nb-arrow-dropleft,
.nb-arrow-dropright,
.nb-arrow-dropup,
.nb-arrow-left,
.nb-arrow-retweet,
.nb-arrow-right,
.nb-arrow-thin-down,
.nb-arrow-thin-left,
.nb-arrow-thin-right,
.nb-arrow-thin-up,
.nb-arrow-up,
.nb-audio,
.nb-bar-chart,
.nb-checkmark,
.nb-chevron-down,
.nb-chevron-down-outline,
.nb-chevron-left,
.nb-chevron-left-outline,
.nb-chevron-right,
.nb-chevron-right-outline,
.nb-chevron-up,
.nb-chevron-up-outline,
.nb-close,
.nb-close-circled,
.nb-cloudy,
.nb-coffee-maker,
.nb-compose,
.nb-edit,
.nb-email,
.nb-flame-circled,
.nb-gear,
.nb-grid-a,
.nb-grid-a-outline,
.nb-grid-b,
.nb-grid-b-outline,
.nb-heart,
.nb-home,
.nb-keypad,
.nb-layout-centre,
.nb-layout-default,
.nb-layout-one-column,
.nb-layout-sidebar-left,
.nb-layout-sidebar-right,
.nb-layout-two-column,
.nb-lightbulb,
.nb-list,
.nb-location,
.nb-locked,
.nb-loop,
.nb-loop-circled,
.nb-menu,
.nb-notifications,
.nb-paper-plane,
.nb-partlysunny,
.nb-pause,
.nb-pause-outline,
.nb-person,
.nb-phone,
.nb-play,
.nb-play-outline,
.nb-plus,
.nb-plus-circled,
.nb-power,
.nb-power-circled,
.nb-rainy,
.nb-roller-shades,
.nb-search,
.nb-shuffle,
.nb-skip-backward,
.nb-skip-backward-outline,
.nb-skip-forward,
.nb-skip-forward-outline,
.nb-snowy-circled,
.nb-square,
.nb-square-outline,
.nb-star,
.nb-sunny,
.nb-sunny-circled,
.nb-tables,
.nb-title,
.nb-trash,
.nb-volume-high,
.nb-volume-mute,
.nb-drop,
.nb-drops,
.nb-info,
.nb-expand,
.nb-collapse {
  /* use !important to prevent issues with browser extensions that change #{$nebular-icons-font-path} */
  font-family: #{$nebular-icons-font-family};
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nb-alert::before {
  content: '\e900';
}
.nb-angle-double-left::before {
  content: '\e901';
}
.nb-angle-double-right::before {
  content: '\e902';
}
.nb-arrow-down::before {
  content: '\e903';
}
.nb-arrow-dropdown::before {
  content: '\e904';
}
.nb-arrow-dropleft::before {
  content: '\e905';
}
.nb-arrow-dropright::before {
  content: '\e906';
}
.nb-arrow-dropup::before {
  content: '\e907';
}
.nb-arrow-left::before {
  content: '\e908';
}
.nb-arrow-retweet::before {
  content: '\e909';
}
.nb-arrow-right::before {
  content: '\e90a';
}
.nb-arrow-thin-down::before {
  content: '\e90b';
}
.nb-arrow-thin-left::before {
  content: '\e90c';
}
.nb-arrow-thin-right::before {
  content: '\e90d';
}
.nb-arrow-thin-up::before {
  content: '\e90e';
}
.nb-arrow-up::before {
  content: '\e90f';
}
.nb-audio::before {
  content: '\e910';
}
.nb-bar-chart::before {
  content: '\e911';
}
.nb-checkmark::before {
  content: '\e912';
}
.nb-chevron-down::before {
  content: '\e913';
}
.nb-chevron-down-outline::before {
  content: '\e914';
}
.nb-chevron-left::before {
  content: '\e915';
}
.nb-chevron-left-outline::before {
  content: '\e916';
}
.nb-chevron-right::before {
  content: '\e917';
}
.nb-chevron-right-outline::before {
  content: '\e918';
}
.nb-chevron-up::before {
  content: '\e919';
}
.nb-chevron-up-outline::before {
  content: '\e91a';
}
.nb-close::before {
  content: '\e91b';
}
.nb-close-circled::before {
  content: '\e91c';
}
.nb-cloudy::before {
  content: '\e91d';
}
.nb-coffee-maker::before {
  content: '\e91e';
}
.nb-collapse::before {
  content: '\e91f';
}
.nb-compose::before {
  content: '\e920';
}
.nb-drop::before {
  content: '\e921';
}
.nb-drops::before {
  content: '\e922';
}
.nb-edit::before {
  content: '\e923';
}
.nb-email::before {
  content: '\e924';
}
.nb-expand::before {
  content: '\e925';
}
.nb-flame-circled::before {
  content: '\e926';
}
.nb-gear::before {
  content: '\e927';
}
.nb-grid-a::before {
  content: '\e928';
}
.nb-grid-a-outline::before {
  content: '\e929';
}
.nb-grid-b::before {
  content: '\e92a';
}
.nb-grid-b-outline::before {
  content: '\e92b';
}
.nb-heart::before {
  content: '\e92c';
}
.nb-home::before {
  content: '\e92d';
}
.nb-info::before {
  content: '\e92e';
}
.nb-keypad::before {
  content: '\e92f';
}
.nb-layout-centre::before {
  content: '\e930';
}
.nb-layout-default::before {
  content: '\e931';
}
.nb-layout-one-column::before {
  content: '\e932';
}
.nb-layout-sidebar-left::before {
  content: '\e933';
}
.nb-layout-sidebar-right::before {
  content: '\e934';
}
.nb-layout-two-column::before {
  content: '\e935';
}
.nb-lightbulb::before {
  content: '\e936';
}
.nb-list::before {
  content: '\e937';
}
.nb-location::before {
  content: '\e938';
}
.nb-locked::before {
  content: '\e939';
}
.nb-loop::before {
  content: '\e93a';
}
.nb-loop-circled::before {
  content: '\e93b';
}
.nb-menu::before {
  content: '\e93c';
}
.nb-notifications::before {
  content: '\e93d';
}
.nb-paper-plane::before {
  content: '\e93e';
}
.nb-partlysunny::before {
  content: '\e93f';
}
.nb-pause::before {
  content: '\e940';
}
.nb-pause-outline::before {
  content: '\e941';
}
.nb-person::before {
  content: '\e942';
}
.nb-phone::before {
  content: '\e943';
}
.nb-play::before {
  content: '\e944';
}
.nb-play-outline::before {
  content: '\e945';
}
.nb-plus::before {
  content: '\e946';
}
.nb-plus-circled::before {
  content: '\e947';
}
.nb-power::before {
  content: '\e948';
}
.nb-power-circled::before {
  content: '\e949';
}
.nb-rainy::before {
  content: '\e94a';
}
.nb-roller-shades::before {
  content: '\e94b';
}
.nb-search::before {
  content: '\e94c';
}
.nb-shuffle::before {
  content: '\e94d';
}
.nb-skip-backward::before {
  content: '\e94e';
}
.nb-skip-backward-outline::before {
  content: '\e94f';
}
.nb-skip-forward::before {
  content: '\e950';
}
.nb-skip-forward-outline::before {
  content: '\e951';
}
.nb-snowy-circled::before {
  content: '\e952';
}
.nb-square::before {
  content: '\e953';
}
.nb-square-outline::before {
  content: '\e954';
}
.nb-star::before {
  content: '\e955';
}
.nb-sunny::before {
  content: '\e956';
}
.nb-sunny-circled::before {
  content: '\e957';
}
.nb-tables::before {
  content: '\e958';
}
.nb-title::before {
  content: '\e959';
}
.nb-trash::before {
  content: '\e95a';
}
.nb-volume-high::before {
  content: '\e95b';
}
.nb-volume-mute::before {
  content: '\e95c';
}
