/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
