/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../core/functions';
@import '../core/mixins';
@import 'default';

// default the base theme
$theme: (
  radius: 0.5rem,

  color-bg: #3d3780,
  color-bg-active: #494299,
  color-fg: #a1a1e5,
  color-fg-heading: #ffffff,
  color-fg-text: #d1d1ff,
  color-fg-highlight: #00f9a6,

  color-gray: rgba(81, 113, 165, 0.15),
  color-neutral: transparent,
  color-white: #ffffff,
  color-disabled: rgba(255, 255, 255, 0.4),

  color-primary: #7659ff,
  color-success: #00d977,
  color-info: #0088ff,
  color-warning: #ffa100,
  color-danger: #ff386a,

  link-color: #00f9a6,
  link-color-hover: #14ffbe,

  separator: #342e73,
  shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6),

  card-header-font-weight: font-weight-bolder,

  layout-bg: #2f296b,

  scrollbar-fg: #554db3,
  scrollbar-bg: #332e73,

  radial-gradient: radial-gradient(circle at 50% 50%, #423f8c, #302c6e),
  linear-gradient: linear-gradient(to right, #171749, #413789),

  sidebar-fg: color-secondary,
  sidebar-bg: color-bg,

  header-fg: color-white,
  header-bg: color-bg,

  footer-fg: color-fg,
  footer-bg: color-bg,

  actions-fg: color-fg,
  actions-bg: color-bg,

  user-fg: color-bg,
  user-bg: color-fg,
  user-fg-highlight: color-fg-highlight,

  popover-border: color-primary,
  popover-shadow: shadow,

  context-menu-active-bg: color-primary,

  footer-height: header-height,

  sidebar-width: 16.25rem,
  sidebar-width-compact: 3.45rem,

  menu-fg: color-fg,
  menu-bg: color-bg,
  menu-active-fg: color-white,
  menu-group-fg: color-white,
  menu-font-weight: font-weight-normal,
  menu-active-font-weight: font-weight-bolder,
  menu-submenu-bg: layout-bg,
  menu-submenu-fg: color-fg,
  menu-submenu-active-fg: color-fg-heading,
  menu-submenu-active-bg: rgba(0, 255, 170, 0.25),
  menu-submenu-active-border-color: color-fg-highlight,
  menu-submenu-active-shadow: 0 2px 12px 0 rgba(0, 255, 170, 0.25),
  menu-item-padding: 0.25rem 0.75rem,
  menu-item-separator: transparent,

  btn-hero-shadow: 0 4px 10px 0 rgba(33, 7, 77, 0.5),
  btn-hero-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3),
  btn-hero-bevel-size: 0 3px 0 0,
  btn-hero-glow-size: 0 2px 8px 0,
  btn-hero-primary-glow-size: btn-hero-glow-size,
  btn-hero-success-glow-size: btn-hero-glow-size,
  btn-hero-warning-glow-size: btn-hero-glow-size,
  btn-hero-info-glow-size: btn-hero-glow-size,
  btn-hero-danger-glow-size: btn-hero-glow-size,
  btn-hero-secondary-glow-size: btn-hero-glow-size,
  btn-secondary-border: color-primary,
  btn-outline-fg: color-fg-heading,
  btn-outline-hover-fg: color-fg-heading,
  btn-outline-focus-fg: color-fg-heading,
  btn-group-bg: #373273,
  btn-group-separator: #312c66,

  form-control-bg: #37317a,
  form-control-focus-bg: separator,
  form-control-border-color: separator,
  form-control-selected-border-color: color-primary,

  checkbox-bg: transparent,
  checkbox-size: 1.25rem,
  checkbox-border-size: 2px,
  checkbox-border-color: color-fg,
  checkbox-checkmark: transparent,

  checkbox-checked-bg: transparent,
  checkbox-checked-size: 1.25rem,
  checkbox-checked-border-size: 2px,
  checkbox-checked-border-color: color-success,
  checkbox-checked-checkmark: color-fg-heading,

  checkbox-disabled-bg: transparent,
  checkbox-disabled-size: 1.25rem,
  checkbox-disabled-border-size: 2px,
  checkbox-disabled-border-color: color-fg-heading,
  checkbox-disabled-checkmark: color-fg-heading,

  search-bg: linear-gradient(to right, #171749, #413789),

  smart-table-header-font-weight: font-weight-normal,
  smart-table-header-bg: color-bg-active,
  smart-table-bg-even: #3a347a,
  smart-table-bg-active: color-bg-active,

  smart-table-paging-border-color: color-primary,
  smart-table-paging-border-width: 2px,
  smart-table-paging-fg-active: color-fg-heading,
  smart-table-paging-bg-active: color-primary,
  smart-table-paging-hover: rgba(0, 0, 0, 0.2),

  badge-fg-text: color-white,
  badge-primary-bg-color: color-primary,
  badge-success-bg-color: color-success,
  badge-info-bg-color: color-info,
  badge-warning-bg-color: color-warning,
  badge-danger-bg-color: color-danger,

  spinner-bg: rgba(61, 55, 128, 0.9),
  stepper-accent-color: color-success,
);

// register the theme
$nb-themes: nb-register-theme($theme, cosmic, default);
