/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin button-filled() {
  [nbButton].appearance-filled {
    border-style: nb-theme(button-filled-border-style);
    border-width: nb-theme(button-filled-border-width);
    text-transform: nb-theme(button-filled-text-transform);

    @each $size in nb-get-sizes() {
      &.size-#{$size} {
        padding: nb-theme(button-filled-#{$size}-padding);
      }
    }

    @each $status in nb-get-statuses() {
      &.status-#{$status} {
        background-color: nb-theme(button-filled-#{$status}-background-color);
        border-color: nb-theme(button-filled-#{$status}-border-color);
        color: nb-theme(button-filled-#{$status}-text-color);

        &:focus {
          border-color: nb-theme(button-filled-#{$status}-focus-border-color);
        }

        &:hover {
          background-color: nb-theme(button-filled-#{$status}-hover-background-color);
          border-color: nb-theme(button-filled-#{$status}-hover-border-color);
        }

        &:active {
          background-color: nb-theme(button-filled-#{$status}-active-background-color);
          border-color: nb-theme(button-filled-#{$status}-active-border-color);
        }

        &[disabled] {
          background-color: nb-theme(button-filled-#{$status}-disabled-background-color);
          border-color: nb-theme(button-filled-#{$status}-disabled-border-color);
          color: nb-theme(button-filled-#{$status}-disabled-text-color);
        }
      }
    }
  }
}
