
 
    <nb-card>
      <nb-card-header class="header">Lead Management</nb-card-header>
      <nb-card-body>
      
        <div class="row">
          <div class="col-sm-2">
            <button nbButton status="info" (click)="add_leads()">ADD</button>
          </div>
          <div class="col-sm-3"></div>
         
          <div class="col-sm-7 ">
            <div class="inner-addon right-addon">
              <i class="nb-search"></i>
              <input type="text" nbInput fullWidth fieldSize="medium" class="form-control"[(ngModel)]="searchText" autocomplete="off" placeholder="Search"/>
            </div>
          </div>
        </div>

      <div style="overflow-x:auto;">

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Enquiry</th>
                <th>Expected Purchase Date</th>
                <th colspan="4">Actions</th>
              </tr>
    
            </thead>
            <tbody>
              <tr *ngFor="let view of lead|filter : searchText; let i=index">
                <td> {{  i+1 }} </td>
                <td> {{ view.name   }} </td>
                <td> {{ view.mobile}} </td>
                <td> {{ view.enquiry }} </td>
                <td> {{ view.expectedPurchaseDate | date:'dd/MM/yyyy' }} </td>

                <td class="actions" style="padding-right: 2%">
                  <a class="action-details" (click)="data(view.id)" >
                      <!-- <a class="action-edit" nbPopover="Under Construction!" nbPopoverPlacement="top" > -->
                        <i class="ion-eye"></i>
                  </a>
                  </td>
           
  
            <td class="actions" style="padding-right: 2%">
                <a class="action-edit" (click)="edit(view._id)" >
                
                    <i class="nb-edit"></i>
                </a>
                </td>
                <td class="actions" style="padding-right: 2%">
                   
                        <a class="action-edit" (click)="open(dialog)">
                        <i class="nb-trash"></i>
                    </a>
                    </td>
              </tr>
              <tr *ngIf="lead.length==0">
                <td class="nothing" colspan="12">
                  No Data found
                </td>
              </tr>
            </tbody>
    
          </table>
        </div>
     
    
      
        </nb-card-body>
        </nb-card>

        <ng-template #dialog let-data let-ref="dialogRef">
          <nb-card>
            <nb-card-header>{{ data }}</nb-card-header>
            <nb-card-body> 
              Are you sure want to remove lead?
            </nb-card-body>
            <nb-card-footer>
              <button nbButton status='danger' (click)="ref.close()">Cancel</button>
              <button nbButton style="margin-left: 10%;" (click)="delete(view._id)">Delete</button>
            </nb-card-footer>
          </nb-card>
        </ng-template>
      
     