/*
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../styles/core/mixins';

:host {
  display: block;
  position: relative;

  label {
    display: inline-flex;
    margin: 0;
    min-height: inherit;
    padding: 0.375rem 1.5rem 0.375rem 0;
    align-items: center;
  }

  .outer-circle,
  .inner-circle {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .inner-circle {
    transform: translateY(-50%) scale(0.65);
  }

  .text {
    @include nb-ltr(padding-left, 0.5rem);
    @include nb-rtl(padding-right, 0.5rem);
  }
}
