/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nb-calendar-navigation {
  margin: 0 0.5rem;
}
