
 <div class="row">
   <div class="col-sm-3"></div>
 </div>
 <nb-card>
    <nb-card-body>
       <div *ngIf ="head_company">
         <h5>{{head_company.name}}</h5>
         <b>{{head_company.business}}</b>
         <b>{{head_company.address?.text}}</b>

       </div>
    </nb-card-body>
  </nb-card>
    <nb-card>
        <!-- <nb-card-header class="header">Lead Management</nb-card-header> -->
        <nb-card-body>
        
          <div class="row">
            <div class="col-sm-2">
              <button nbButton status="info" (click)="addStore()" style="margin-bottom: 20px;">ADD</button>

            </div>
            <div class="col-sm-3"></div>
           
            <div class="col-sm-7 ">
              <div class="inner-addon right-addon">
                <i class="nb-search"></i>
                <input type="text" nbInput fullWidth fieldSize="medium" class="form-control"[(ngModel)]="searchText" autocomplete="off" placeholder="Search"/>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-sm-2">
                <nb-card>
                    <nb-card-body>
                       <b> Company Name <br>
                        Details</b>
                    </nb-card-body>
                  </nb-card>

                  <button nbButton status="info" (click)="addStore()" style="margin-bottom: 20px;">ADD</button>

              </div>
          </div> -->
  
        <div style="overflow-x:auto;">
  
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>City</th>
                  <th>Location</th>
                  <th colspan="4">Actions</th>
                </tr>
      
              </thead>
              <tbody>
                <tr *ngFor="let view of company; let i =index">
                  <td> {{ view.name}} </td>
                  <td> {{ view.address.city}} </td>
                  <td> {{ view.address.location?.name}} </td>
                  <!-- <td class="actions" style="padding-right: 2%">
                    <a class="action-details" (click)="data(view._id)" >
                        <a class="action-edit" nbPopover="Under Construction!" nbPopoverPlacement="top" >
                          <i class="ion-eye"></i>
                    </a>
                    </td> -->
             
    
              <td class="actions" style="padding-right: 2%">
                  <a class="action-edit" (click)="edit(view.id)" >
                  
                      <i class="nb-edit"></i>
                  </a>
                  </td>
                  <td class="actions" style="padding-right: 2%">
                     
                          <a class="action-edit" (click)="open(dialog,view.id,head_company.id)">
                          <i class="nb-trash"></i>
                      </a>
                      </td>
                </tr>
                <tr *ngIf="company.length==0">
                  <td class="nothing" colspan="12">
                    No Data found
                  </td>
                </tr>
              </tbody>
      
            </table>
          </div>
       
      
        
          </nb-card-body>
          </nb-card>
  
          <ng-template #dialog let-data let-ref="dialogRef">
            <nb-card>
              <nb-card-header>Delete</nb-card-header>
              <nb-card-body> 
                Are you sure want to remove company?
              </nb-card-body>
              <nb-card-footer style="margin-left: 100px;" >
                <button class="btn btn-primary" (click)="delete()">Delete</button>
                <button class="btn"  style="margin-left: 10%;" (click)="ref.close()">Cancel</button>
                
              </nb-card-footer>
            </nb-card>
          </ng-template>
        
       