/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin nb-badge-theme() {
  nb-badge {
    border-radius: nb-theme(badge-border-radius);
    font-family: nb-theme(badge-text-font-family);
    font-size: nb-theme(badge-text-font-size);
    font-weight: nb-theme(badge-text-font-weight);
    line-height: nb-theme(badge-text-line-height);
    padding: nb-theme(badge-padding);
  }

  @each $status in nb-get-statuses() {
    nb-badge.status-#{$status} {
      color: nb-theme(badge-#{$status}-text-color);
      background-color: nb-theme(badge-#{$status}-background-color);
    }
  }
}
