/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../styles/core/mixins';

:host {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

:host(.position-top) {
  top: 0;
}

:host(.position-right) {
  right: 0;
}

:host(.position-bottom) {
  bottom: 0;
}

:host(.position-left) {
  left: 0;
}

:host(.position-start) {
  @include nb-ltr(left, 0);
  @include nb-rtl(right, 0);
}

:host(.position-end) {
  @include nb-ltr(right, 0);
  @include nb-rtl(left, 0);
}
