/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */
@import '../../styles/core/mixins';

@mixin nb-context-menu-theme() {

  .context-menu-host {
    /*
      Fixes click not being bubbled to the body in Safari.
      https://www.quirksmode.org/blog/archives/2014/02/mouse_event_bub.html
    */
    cursor: pointer;
  }

  nb-context-menu {
    background-color: nb-theme(context-menu-background-color);
    border-color: nb-theme(context-menu-border-color);
    border-style: nb-theme(context-menu-border-style);
    border-width: nb-theme(context-menu-border-width);
    border-radius: nb-theme(context-menu-border-radius);
    box-shadow: nb-theme(context-menu-shadow);
    min-width: nb-theme(context-menu-min-width);
    max-width: nb-theme(context-menu-max-width);

    nb-menu {
      border-radius: nb-theme(context-menu-border-radius);
      overflow: hidden;
      text-align: center;
    }
  }
}
