/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  opacity: 1;
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;

  .spin-circle {
    animation: spin 0.8s infinite linear;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.125em;
    width: 1em;
    height: 1em;
  }

  .message {
    margin-left: 0.5rem;
  }
}
