/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
