/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin nb-tree-grid-sort-header-theme() {
  .nb-tree-grid-header-change-sort-button {
    background: nb-theme(tree-grid-sort-header-button-background-color);
    border: nb-theme(tree-grid-sort-header-button-border);
    padding: nb-theme(tree-grid-sort-header-button-padding);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
  }
}
