/*
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

:host {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}


::ng-deep .nb-tree-grid-cell,
::ng-deep .nb-tree-grid-header-cell,
::ng-deep .nb-tree-grid-footer-cell {
  overflow: hidden;
}
