
 
    <nb-card>
        <nb-card-header class="header">Customers</nb-card-header>
        <nb-card-body>
        
          <div class="row">
            <div class="col-sm-2">
              <button nbButton status="info" (click)="add_users()">ADD</button>
            </div>
            <div class="col-sm-3"></div>
           
            <div class="col-sm-7 ">
              <div class="inner-addon right-addon">
                <i class="nb-search"></i>
                <input type="text" nbInput fullWidth fieldSize="medium" class="form-control"[(ngModel)]="searchText" autocomplete="off" placeholder="Search"/>
              </div>
            </div>
          </div>
  
        <div style="overflow-x:auto;">
  
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Customer Name</th>
                  <th>Joined Date</th>
                  <th>Profile Compleition</th>
                  <th>Lifetime Purchase Value(₹)</th>
                  <th>Phone Number</th>
                  <th colspan="2">Actions</th>
                </tr>
      
              </thead>
              <tbody>
                <tr *ngFor="let view of customer_data|filter : searchText; let i =index">
                  <td> {{ view.name   }} </td>
                  <td> {{ view.createdOn }} </td>
                  <td> {{ view.profileCompletenessPercent }} </td>
                  <td> {{ view.lifetimeValue }} </td>
                  <td> {{ view.mobile}} </td>
                  
                  <!-- <td class="actions" style="padding-right: 2%">
                    <a class="action-details" (click)="data(view.id)" >
                        <a class="action-edit" nbPopover="Under Construction!" nbPopoverPlacement="top" >
                          <i class="ion-eye"></i>
                    </a>
                    </td> -->
             
    
              <td class="actions" style="padding-right: 2%">
                  <a class="action-edit" (click)="edit(view.id)" >
                  
                      <i class="nb-edit"></i>
                  </a>
                  </td>
                  <!-- <td class="actions" style="padding-right: 2%">
                     
                          <a class="action-edit" (click)="open(dialog)">
                          <i class="nb-trash"></i>
                      </a>
                      </td> -->
                </tr>
                <tr *ngIf="customer_data.length==0">
                  <td class="nothing" colspan="12">
                    No Data found
                  </td>
                </tr>
              </tbody>
      
            </table>
          </div>
       
      
        
          </nb-card-body>
          </nb-card>
  
          <ng-template #dialog let-data let-ref="dialogRef">
            <nb-card>
              <nb-card-header>{{ data }}</nb-card-header>
              <nb-card-body> 
                Are you sure want to remove lead?
              </nb-card-body>
              <nb-card-footer>
                <button nbButton status='default' (click)="ref.close()">No,Keep it!</button>
                <button nbButton status='danger' style="margin-left: 0%;" (click)="delete(view.id)">Yes,Delete it!</button>
              </nb-card-footer>
            </nb-card>
          </ng-template>
        
       