.header{
    align-content: center;
    font-size: 25px;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
  }
  th{
    height: 40px;
    font-family: Exo;
  }
  
  th, td {
      border: 1px solid #ddd;
      text-align: left;
      padding: 8px;
  }
  
  
  .nb-trash, .nb-edit, .ion-eye {
  text-decoration: none;
    font-size: 25px;
  }
  .my{
    color: #00CED1;
  }
  
  a :hover {
    color: #00CED1;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
     background-color: #f4f6f9;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e6f2ff;
  }
  
  // Search
  
  .inner-addon { 
    position: relative;
    padding-bottom: 3%;
   float: right;
   width:70%;
  }
  /* style icon */
  .inner-addon .nb-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  font-size: 30px;
  }
  /* align icon */
  .right-addon .nb-search { right:  0px;}
  
  .page{
    padding-top: 1%;
    margin-top: 2%;
  text-align: center;
  
  }

  //////----count--->
  .nb-compose{
    font-size:30px;
    color:rgb(51, 133, 148);
    font-weight: bold;
  }

.tot{
  font-size:25px;
  color:rgb(79, 124, 192);
  font-weight: bold;
  // margin-bottom: 15%;
}

.movi{
  color:rgb(128, 160, 168);
}

.nothing{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #181818;
 padding: 1rem 0 1rem 2.5rem;
}




/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 533px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr,.trim {
      display: block;
      text-align: left;
    }
    
    button {
      margin: 0 0.75rem 2rem 0;
     
      //margin-top: 5%;
  }

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 10;
			left: 20px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "CustomerName"; }
		td:nth-of-type(2):before { content: "Joined Date"; }
		td:nth-of-type(3):before { content: "Profile Completeness"; }
		td:nth-of-type(4):before { content: "Lifetime Purchase Value (₹)"; }
        td:nth-of-type(5):before { content: "Phone Number"; }
        td:nth-of-type(5):before { content: "Actions"; }
   
  .header {
   
    text-align: center;
  }
  

.inner-addon {
  width: 100%;
  margin-top: 5%;
  }
  }

  
