@import '../../styles/core/mixins';

:host {
  .label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    min-height: inherit;
    padding: 0.375rem 1.5rem 0.375rem 0;
  }

  .custom-checkbox {
    flex-shrink: 0;
    @include nb-component-animation(background-color, border, box-shadow);
  }

  .text {
    transition: color 0.15s ease-in;
    @include nb-ltr(padding-left, 0.6875rem);
    @include nb-rtl(padding-right, 0.6875rem);
  }
}
