<nb-card style="overflow:hidden;">
  <nb-card-header class="header" style="text-align: center;">Lead Details</nb-card-header>
  <nb-card-body class="lead-body">
    <form [formGroup]="leadForm" ngSubmit="onFormSubmit()">
      <div class="row">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <label for="name"><b>Name</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="name" />
          <div
            *ngIf="leadForm.controls['name'].invalid && (leadForm.controls['name'].dirty || leadForm.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="leadForm.controls['name'].errors.required">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label for="mobile"><b>Mobile</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="mobile" />
          <div
            *ngIf="leadForm.controls['mobile'].invalid && (leadForm.controls['mobile'].dirty || leadForm.controls['mobile'].touched)"
            class="alert alert-danger">
            <div *ngIf="leadForm.controls['mobile'].errors.required">
              Mobile number is required.
            </div>
            <div class="form-text error" *ngIf="leadForm.controls['mobile'].errors?.pattern">
              Mobile number be the real one!
            </div>
          </div>
        </div>

        <div class="form-group col-sm-2"></div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <label for="enquiry"><b>Enquiry</b></label>
          <input type="text" nbInput fullWidth class="form-control" formControlName="enquiry" />
          <div
            *ngIf="leadForm.controls['enquiry'].invalid && (leadForm.controls['enquiry'].dirty || leadForm.controls['enquiry'].touched)"
            class="alert alert-danger">
            <div *ngIf="leadForm.controls['enquiry'].errors.required">
              Enquiry is required.
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <!-- <input nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker" formControlName="expectedPurchaseDate">
        <nb-rangepicker #formpicker></nb-rangepicker> -->
        <!-- <nb-datepicker format="dd.MM.yyyy"></nb-datepicker> -->
        <label for="expectedPurchaseDate"><b>Expected Purchase Date </b></label><br/>
              <!-- <input type="date" class="form-control" formControlName="expectedPurchaseDate" /> -->
              <input nbInput placeholder="Pick Date" [nbDatepicker]="expectedPurchaseDate" formControlName="expectedPurchaseDate" >
              <nb-datepicker #expectedPurchaseDate ></nb-datepicker>
              <div *ngIf="leadForm.controls['expectedPurchaseDate'].invalid && (leadForm.controls['expectedPurchaseDate'].dirty || leadForm.controls['expectedPurchaseDate'].touched)"
                class="alert alert-danger">
                <div *ngIf="leadForm.controls['expectedPurchaseDate'].errors.required">
                  Expected Purchase Date is required.
                </div>
              </div>
        </div>
        <div class="form-group col-sm-2"></div>
      </div>
      <div class="row" style="margin-top: 5%;">
        <div class="form-group col-sm-2"></div>
        <div class="form-group col-sm-4">
          <!-- <button nbButton hero status="success" (click)="reset()" style="margin-left: 80%;">RESET</button> -->
        </div>
        <div class="form-group col-sm-4">
          <button nbButton hero status="primary" (click)="add(leadForm.value)">Save</button>
        </div>
        <div class="form-group col-sm-2"></div>
      </div>
    </form>
  </nb-card-body>
</nb-card>