<!-- <div class="row">
  <nb-card>
    <nb-card-body>Flycon Dashboard Under Construction...!!</nb-card-body>
  </nb-card>
</div> -->

<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->


<div class="row">
  <div class="col-lg-6">
      <nb-card class="customers">
        <nb-card-header>
          <div class="row">
            <h6 class=" text-hint col-md-6"> Customers Information</h6>
          </div>
         
        </nb-card-header>
        <nb-card-body>
          <!-- <h4 class="text-center text-danger">Customers</h4> -->
          <div class="row">
         
          <h6 class="text-left text-info col-md-4">Total Customers</h6>
          <h1 class="text-center col-md-4" ><strong>{{dashboard_data.totalCustomers}}</strong></h1>
          </div>
          <div class="row">
            <h6 class="text-left text-info col-md-4">Active Customers</h6>
            <h1 class="text-center text-success col-md-4"><strong>{{dashboard_data.activeCustomers}}</strong></h1>
            <a href="#" style="text-decoration: none;margin-left: 65%;" class="text-primary col-md-4" (click)="view()"><strong>View ></strong></a>
          </div>
          
          <!-- <h4 class=" text-success">{{dashboard_data.activeCustomers}}</h4> <h6 class="text-center">Active Customers</h6> -->
        </nb-card-body>
      <!-- <nb-card-footer>
        <a href="#" style="text-decoration: none;margin-left: 85%;" class="text-primary"><strong>View ></strong></a>
      </nb-card-footer> -->
      </nb-card>
    </div>


<div class="col-lg-6">
  <nb-card class="company">
    <nb-card-header>
      <h6 class="text-hint text-default">Company Information</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
      <div class="col-md-6">
        <nb-card class="users" >
          <!-- <nb-card-header>
            <h4 class="text-center text-danger">Stores</h4>
          </nb-card-header> -->
          <nb-card-body>
            <h4 class="text-center text-danger">Stores</h4>
            <h1 class="text-center"><strong>{{dashboard_data.totalStores}}</strong></h1>
            <div class="row">
            <h6 class="text-left text-info">Total Stores</h6>
            <a href="#" style="text-decoration: none;margin-left: 45%;" class="text-primary"><strong>View ></strong></a>
            </div>
          </nb-card-body>
        </nb-card>
        <!-- <h6 class="text-danger">Stores</h6>
        <h1 class="text-center">{{dashboard_data.totalStores }}</h1>
        <h6 class="text-left text-info">Total Stores</h6> -->
      </div>
    
      <div class="col-md-6">
        <nb-card class="users" >
          <!-- <nb-card-header>
            <h4 class="text-center text-danger">USERS</h4>
          </nb-card-header> -->
          <nb-card-body>
            <h4 class="text-center text-danger">Users</h4>
            <h1 class="text-center"><strong>{{dashboard_data.totalUsers}}</strong></h1>
            <div class="row">
            <h6 class="text-left text-info">Total Users</h6>
            <a href="#" style="text-decoration: none;margin-left: 45%;" class="text-primary"><strong>View ></strong></a>
            </div>
          </nb-card-body>
        </nb-card>
      <!-- <h6 class="text-danger">Users</h6>
      <h1 class="text-center">{{dashboard_data.totalUsers }}</h1>
      <h6 class="text-left text-info">Total Users</h6> -->
      </div>
      </div>
    </nb-card-body>
    <!-- <nb-card-footer></nb-card-footer> -->
  </nb-card>
</div>
<!-- <div class="col-lg-4">
  <nb-card class="users" >
    <nb-card-header>
      <h4 class="text-center text-default">USERS</h4>
    </nb-card-header>
    <nb-card-body>
      <h3 class="text-center">{{dashboard_data.totalUsers}}</h3>
      <h6 class="text-center">Total Users</h6>
    </nb-card-body>
  </nb-card>
</div> -->
</div>

